@font-face {
    font-family: "Oswald";
    src: url(../recursos/fonts/Oswald/Oswald/Oswald-VariableFont_wght.ttf);
}

/* Color interesante: #021060 */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
    font-family: "Oswald";
}

body{
    background-color: #040738;
}

.contenedor{
    display: grid;
    grid-template-areas:    "nav nav nav"
                            "main main main"
                            "footer footer footer";
}

/*      NAV     */

nav{
    grid-area: nav;
    border-radius: 1em;
    border: 3px solid white;
    background-color: #040738;
    margin: 2em;
    padding: 1em;
    font-size: 1.25em;
}

nav ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

nav ul li{
    margin-right: 2em;
    list-style: none;
    transition: 0.5s;
    display: grid;
    place-items: center;
}

nav ul li a{
    text-decoration: none;    
}

nav ul li:hover{
    transform: scale(1.5);
}

nav ul li img{
    height: 50px;
    width: 75px;
}

/*      MAIN        */

h1{
    grid-area: h1;
    text-align: center;
    font-size: 3em;
}

h2 {
    text-align: center;
    font-size: 2em;
}

h3{
    text-align: center;
    font-size: 1.8em;
}

p, ol {
    text-align: justify;
    padding: 2em;
}

.bloqueContenido {
    align-items: center;
    border: 1.5px solid white;
    background-color: #0367ba;
    margin: 1.2em;
    margin-bottom: 2em;
    border-radius: 3.5em;
    padding: 1.5em;
}

.historia {
    grid-area: historia;
}

.padel {
    display: grid;
    grid-area: main;
    grid-template-areas:    "h1 h1"
                            "historia dinamica";
    grid-template-columns: 50%;
    margin: 4em;
    margin-bottom: 20vh;
    margin-top: 2em;
}

.historia img {
    display: block;
    width: 40vw;
    height: 46vh;
    margin: 0 auto;
}

.dinamica {
    grid-area: dinamica;
}

.wptH {
    padding: 1em;
    background-color: #06040E;
    padding-bottom: 20vh;
}

.margenWPT{
    margin: 2em 6em;
}

.wptH h2 {
    margin: 1.5em auto;
}

.video {
    padding-top: 2em;
    display: block;
    margin: 0 auto;
}

.ganadoresHistoricos h2 {
    margin: 2em auto;
}

.ganadoresWpt {
    display: grid;
    grid-template-areas: "femenino masculino";
    grid-template-columns: 50%;
    padding-bottom: 20vh;
    margin: 2em 6em;
}

.femenino {
    grid-area: femenino;
    display: grid;
    grid-template-areas:    "h3"
                            "pareja01"
                            "pareja02"
                            "pareja03"
                            "pareja04"
                            "pareja05"
                            "pareja06"
                            "pareja07"
                            "pareja08"
                            "pareja09"
                            "pareja10";
}

.masculino {
    grid-area: masculino;
    display: grid;
    grid-template-areas:    "h3"
                            "pareja01"
                            "pareja02"
                            "pareja03"
                            "pareja04"
                            "pareja05"
                            "pareja06"
                            "pareja07"
                            "pareja08"
                            "pareja09"
                            "pareja10";
}

.ganadoresWpt article h3 {
    grid-area: h3;
}

.ganadoresWpt article div div img {
    width: 268px;
    height: 401px;
    display: grid;
    place-items: center;
    margin-left: 5em;
}

.propiedadesPareja {
    margin: 1em;
    padding: 2em;
    border: 2px solid white;
    border-radius: 2.5em;
    background-color: #001775;
}

.pareja01 {    
    grid-area: pareja01;
    display: grid;
    grid-template-areas:    "h4 h4"
                            "jugador01 jugador02"
                            "nomJugador nomJugador";
    grid-template-columns: 50%;
}
.pareja02 {
    grid-area: pareja02;
    display: grid;
    grid-template-areas:    "h4 h4"
                            "jugador03 jugador04"
                            "nomJugador nomJugador";
    grid-template-columns: 50%;
}
.pareja03 {
    grid-area: pareja03;
    display: grid;
    grid-template-areas:    "h4 h4"
                            "jugador05 jugador06"
                            "nomJugador nomJugador";
    grid-template-columns: 50%;
}
.pareja04 {
    grid-area: pareja04;
    display: grid;
    grid-template-areas:    "h4 h4"
                            "jugador07 jugador08"
                            "nomJugador nomJugador";
    grid-template-columns: 50%;
}
.pareja05 {
    grid-area: pareja05;
    display: grid;
    grid-template-areas:    "h4 h4"
                            "jugador09 jugador10"
                            "nomJugador nomJugador";
    grid-template-columns: 50%;
}
.pareja06 {
    grid-area: pareja06;
    display: grid;
    grid-template-areas:    "h4 h4"
                            "jugador11 jugador12"
                            "nomJugador nomJugador";
    grid-template-columns: 50%;
}
.pareja07 {
    grid-area: pareja07;
    display: grid;
    grid-template-areas:    "h4 h4"
                            "jugador13 jugador14"
                            "nomJugador nomJugador";
    grid-template-columns: 50%;
}
.pareja08 {
    grid-area: pareja08;
    display: grid;
    grid-template-areas:    "h4 h4"
                            "jugador15 jugador16"
                            "nomJugador nomJugador";
    grid-template-columns: 50%;
}
.pareja09 {
    grid-area: pareja09;
    display: grid;
    grid-template-areas:    "h4 h4"
                            "jugador17 jugador18"
                            "nomJugador nomJugador";
    grid-template-columns: 50%;
}
.pareja10 {
    grid-area: pareja10;
    display: grid;
    grid-template-areas:    "h4 h4"
                            "jugador19 jugador20"
                            "nomJugador nomJugador";
    grid-template-columns: 50%;
}

.añoPareja {
    grid-area: h4;
    font-size: 3em;
}

.jugador01 {
    grid-area: jugador01;
}
.jugador02 {
    grid-area: jugador02;
}
.jugador03 {
    grid-area: jugador03;
}
.jugador04 {
    grid-area: jugador04;
}
.jugador05 {
    grid-area: jugador05;
}
.jugador06 {
    grid-area: jugador06;
}
.jugador07 {
    grid-area: jugador07;
}
.jugador08 {
    grid-area: jugador08;
}
.jugador09 {
    grid-area: jugador09;
}
.jugador10 {
    grid-area: jugador10;
}
.jugador11 {
    grid-area: jugador11;
}
.jugador12 {
    grid-area: jugador12;
}
.jugador13 {
    grid-area: jugador13;
}
.jugador14 {
    grid-area: jugador14;
}
.jugador15 {
    grid-area: jugador15;
}
.jugador16 {
    grid-area: jugador16;
}
.jugador17 {
    grid-area: jugador17;
}
.jugador18 {
    grid-area: jugador18;
}
.jugador19 {
    grid-area: jugador19;
}
.jugador20 {
    grid-area: jugador20;
}

.nomJugador {
    grid-area: nomJugador;
    border: 2.5px solid white;
    border-radius: 7em;
    margin-right: 1em;
    padding: 0.3em;
    display: grid;
    place-items: center;
}

.nomJugador h4{
    text-align: center;
    padding: 0.3em;
    font-size: 1.4em;
}

@media (min-width: 1025px) and (max-width: 1280px) {

    .contenedor{
        display: grid;
        grid-template-areas:    "nav nav"
                                "main main"
                                "footer footer";
    }

    nav {
        grid-area: nav;
        max-width: 1100px;
    }

    main{
        grid-area: main;
        max-width: 1200px;
    }

    .tamañoContenidoPadel {
        height: 1800px;
    }

    .wptH{
        grid-area: main;
        width: 1280px;
        margin: 0;
        box-sizing: border-box;
    }

    .historia img {
        width: 30vw;
        height: 40vh;
        padding: 0 auto;
        margin: 0 auto;
    }

    .video {
        padding-top: 2em;
        display: block;
        margin: 0 auto;
        width: 900px;
    }

    .ganadoresHistoricos h2 {
        max-width: 1100px;
        margin: 2em auto;
    }

    .ganadoresWpt {
        display: grid;
        grid-template-areas:    "femenino"
                                 "masculino";
        width: 1100px;
        padding-bottom: 20vh;
        margin: 2em 12em;
    }

    .ganadoresWpt article div div img {
        width: 268px;
        height: 401px;
        margin: 0 2em;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .contenedor{
        display: grid;
        grid-template-areas:    "nav"
                                "main"
                                "footer";
    }

    nav {
        grid-area: nav;
        max-width: 1024px;
    }

    main{
        grid-area: main;
        max-width: 1024px;
    }

    .padel {
        display: grid;
        grid-area: main;
        grid-template-areas:    "h1"
                                "historia" 
                                "dinamica";
        grid-template-columns: 900px;
        margin: 2.5em;
    }

    .tamañoContenidoPadel {
        height: 1050px;
    }

    .historia img {
        width: 50vw;
        height: 50vh;
        padding: 0 auto;
        margin: 0 auto;
    }

    .wptH{
        grid-area: main;
        width: 1024px;
        margin: 0;
        box-sizing: border-box;
    }

    .video {
        padding-top: 2em;
        display: block;
        margin: 0 auto;
        width: 500px;
    }

    .ganadoresHistoricos h2 {
        max-width: 1100px;
        margin: 2em auto;
    }

    .ganadoresWpt {
        display: grid;
        grid-template-areas:    "femenino"
                                 "masculino";
        width: 1100px;
        padding-bottom: 20vh;
        margin: 2em 6em;
    }

    .ganadoresWpt article div div img {
        width: 268px;
        height: 401px;
        margin: 0 2em;
    }
}

@media (min-width: 391px) and (max-width: 767px) {

    .contenedor{
        display: grid;
        grid-template-areas:    "nav"
                                "main"
                                "footer";
    }

    nav {
        grid-area: nav;
        max-width: 450px;
        margin: 1em 0.5em;
        padding: 0.25;
    }

    nav ul li {
         margin-right: 1em;     
    }

    main{
        grid-area: main;
        max-width: 450px;
    }

    .padel {
        display: grid;
        grid-area: main;
        grid-template-areas:    "h1"
                                "historia" 
                                "dinamica";
        grid-template-columns: 400px;
        margin: 2.5em;
    }

    .height-med1 {
        height: 1950px;
    }

    .height-med2 {
        height: 2650px;
    }

    .historia img {
        width: 60vw;
        height: 35vh;
        padding: 0 auto;
        margin: 0 auto;
    }

    .wptH{
        grid-area: main;
        width: 480px;
        margin: 0;
        box-sizing: border-box;
    }

    .margenWPT {
        margin: 2em 2em;
        padding: 1.5em 0.5em;
    }

    .video {
        padding-top: 2em;
        display: block;
        margin: 0 auto;
        width: 300px;
    }

    .ganadoresHistoricos h2 {
        max-width: 300px;
        margin: 2em auto;
    }

    .ganadoresWpt {
        display: grid;
        grid-template-areas:    "femenino"
                                 "masculino";
        width: 300px;
        padding-bottom: 20vh;
        margin: 2em 0.25em;
    }

    .ganadoresWpt article div div img {
        width: 250px;
        height: 401px;
        margin: 0 2em;
    }

}