@font-face {
    font-family: "Oswald";
    src: url(../recursos/fonts/Oswald/Oswald/Oswald-VariableFont_wght.ttf);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
    font-family: "Oswald";
}

body{
    background-color: #040738;
}

.contenedor{
    display: grid;
    grid-template-areas:    "nav nav nav"
                            "main main main"
                            "footer footer footer";
}

/*      NAV     */

nav{
    grid-area: nav;
    border-radius: 1em;
    border: 3px solid white;
    background-color: #040738;
    margin: 2em;
    padding: 1em;
    font-size: 1.25em;
}

nav ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

nav ul li{
    margin-right: 2em;
    list-style: none;
    transition: 0.5s;
}

nav ul li a{
    text-decoration: none;    
}

nav ul li:hover{
    transform: scale(1.5);
}

nav ul li img{
    height: 50px;
    width: 75px;
}

/*      MAIN        */

h1{
    text-align: center;
    font-size: 3em;
}


footer {
    display: grid;
    grid-area: footer;
    grid-template-areas:    "contacto redes"
                            "mapa mapa";
    background-color: #001775;
    color: white;
    padding: 1em;
}

footer div {
    padding: 1em;
    width: 100%;
}

.contacto {
    grid-area: contacto;
}

.redesSociales {
    display: flex;
    grid-area: redes;
    flex-direction: column;
}

.redesSociales h4 {
    text-align: right;
}

footer a {
    color: white;
}

.iconosRRSS {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    padding-right: 0;
}

.iconosRRSS img {
    width: 3em;
    height: 3em;
}

.iconosRRSS a {
    transition: 1s;
}

.iconosRRSS a:hover {
    transform: scale(1.5);
}

footer p {
    padding: 0.3em;
}